$colorDark: #0B0B0B;
$colorLighterDark: #232323;
$colorLinearDark: linear-gradient(180deg, #101010 0%, #0B0B0B 100%);
$colorGray: #6C6C70;
$colorLight: #FFFFFF;
$colorYellow: #D7A830;
$colorLinearYellowBg: linear-gradient(#7D5317, #EDDF95);
$colorLinearYellowText: #D2981A99;